.raiselyForm{
    min-width: 40%;
    min-height: 50%;
    background-color: rgb(245, 245, 245);
    padding: 3% 10%;
    // margin:10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5%;
}
.FormLabel{
    // background-color: bla;
    // border-color: black;
    // background-color: black;
    // color: brown;
    font-size: 130%;
    font-weight: 500;
}
.Sec{
    min-width: 40%;
    min-height: 500px;
    background-color: rgb(245, 245, 245);
    padding: 3% 15%;
    // margin:10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5%;
    .err{
        font-weight: 600;
        font-size: 200%;
        color: black;
    }
    .success{
        margin-left: 5%;
        font-weight: 600;
        font-size: 200%;
        color: black;
    }
}
.Icons{
    height: 100px;
    width: 100px;
    align-self: center;
}